<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link   rel="stylesheet" href="inscription.css">
    <title>Inscription</title>
</head>
<body>
    <div class="for">
        
        <form method="post" id="un">
            <legend><h1>Inscription</h1></legend>
            <input type="text" id="nom" placeholder="NOM"/><br/>
            <input type="text" id="prenom" placeholder="PRENOM:"/><br/>
            <input type="text" id="num" placeholder="TEL:"/><br/>
            <input type="text" id="work" placeholder="profession "><br/>
            <label for="remember">Remember me</label>
            <input type="checkbox" id="remember" name="remember"/><br/>
            <input type="button" id="submit" name="submit" value="submit"/>
        </form>
    </div>
</body>
</html>